# Node modules
node_modules/

# Model files
web-reader/models/*
web-reader/src/models/*
models/*

# macOS files
.DS_Store

# Logs
*.log

# Coverage reports
coverage/

# Build output
build/
web-reader-electron/build/

# Package lock files
package-lock.json
web-reader-electron/package-lock.json

# Temporary files
*.tmp
/logs/*
docs/tutorial-analysis/*

gc_seed_grant_proposal.txt